doctype html
html
  head
    title Event List
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')

  body
    .container
      .page-header
        h1 Event List
      
      br
      p
        a.btn.btn-lg.btn-primary(href='/new_event') Create New Event
      br

      each val, index in evList
        .row
          .col-md-9
            a(data-toggle='collapse', href='#detailCollapse'+index)= val.name
          .col-md-1
            a(href='/'+val._id+'/register') Register
          .col-md-1
            a(href='/'+val._id+'/csv') CSV
          .col-md-1
            a(href='/'+val._id+'/delete') Delete
        .collapse(id='detailCollapse'+index)
          .card.card-block
            p= 'Begin : ' + val.startdatetime
            p= 'End : ' + val.stopdatetime
            p= 'Place : ' + val.place
      
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
      