doctype html
html
  head
    title New Event Wizard
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')
  body
    .container
      .page-header
        h1 New Event Wizard
      form(action='/event_created', method='post')
        .form-group.row
          label.col-md-2.col-form-label(for='inputEventName') New Event Name
          .col-md-10
            input#inputEventName.form-control(type='text', name='name', placeholder='Eg. Foundation Day')
        .form-group.row
          label.col-md-2.col-form-label(for='inputEventStart') Start Date/Time
          .col-md-4
            input#inputEventStart.form-control(type='datetime-local', name='startdatetime')
          |  
          label.col-md-2.col-form-label(for='inputEventStop') Stop Date/Time
          .col-md-4
            input#inputEventStop.form-control(type='datetime-local', name='stopdatetime')
        .form-group.row
          label.col-md-2.col-form-label(for='inputEventPlace') Place
          .col-md-10
            input#inputEventPlace.form-control.col-md-10(type='text', name='place', placeholder='Eg. Kasetsart University')
        br
        .form-group
          button.btn.btn-primary.btn-lg.btn-block(type='submit') Create
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
